*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.goToTop {
    position: fixed;
    display: none;
    bottom: 35px;
    right: 35px;
    border-radius: 50%;
    cursor: pointer;
    height: 80px;
    width: 80px;
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 6969;
    border: 2px solid black;
}

.goToTop img {
    height: 50px;
    width: 50px;
    z-index: 100000;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;

}

#navbar:hover {
    background: linear-gradient(45deg, black, white);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.logo {
    height: 90px;
    width: 90px;
    padding: 5px;
}

.linkfrelement {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    font-size: 1.4rem;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 20px;
}

.elements {
    list-style-type: none;
    margin-top: 8px;
    padding: 30px;

}

#ulFrnav {
    display: flex;
}

.linkfrelement:hover {
    background-color: white;
    color: black;
}

.socialmedia {
    display: flex;
    margin-left: auto;
}

.Sm {
    height: 40px;
    width: 40px;
    margin: auto 14px;
    border: 2px solid black;
    padding: 9px;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 4px white);
}

#yt {
    height: 40px;
    width: 40px;
    margin: auto 14px;
    border: 2px solid black;
    padding: 9px;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 4px white);
}

#yt {
    margin-right: 50px;
}

#yt:hover {
    filter: drop-shadow(0px 0px 4px black) invert(1);
    background-color: Cyan;

}

.Sm:hover {
    filter: drop-shadow(0px 0px 4px black) invert(1);
    background-color: yellow;
}


.mainContainer{
    height: 100%;
    background: linear-gradient(45deg, pink, lightblue);
    padding-top: 90px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.smallContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    background: linear-gradient(45deg, pink, lightblue);
    width: 250px;
    height: 290px;
    margin: 10px;
    border-radius: 15px;
    transition: width 0.3s ease, height 0.3s ease ;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.5);
}

.card:hover{
    width: 290px;
    height: 320px;
}


.card:hover .cardImg{
    height:40%;
}

.card-1{
    width: 300px;
    transition: width 0.3s ease, height 0.3s ease;
    display: block;

}

.card-1:hover{
    width: 400px;
    height: 400px;
}

.cardImg{
    background-color: #fff;
    height: 80%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-size:cover;
    transition:height 0.3s ease;
}

/* .Img-a{
    background-image: url(a.jpg);
}

.Img-b{
    background-image: url(b.jpg);
}

.Img-c{
    background-image: url(c.jpg);
}

.Img-d{
    background-image: url(d.jpg);
}

.Img-e{
    background-image: url(e.jpg);
} */

.title{
    text-align: center;
}

.text{
    text-align: center;
    font-weight: bold;
}

.textC{
    display: none;
    transition: display 0.2s ease;
}

.card:hover .textC{
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.container-4 {
    border-top: 4px solid pink;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    color: black;
    background-color: pink;
}